
         body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f9;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            transition: margin-left 0.3s;
        }

        body.profile {
            transition: none; /* Исключение для body с классом profile */
        }




        /* Стили для верхнего блока */
        .header {
            background-color: #2c2c2c;
            height: 60px;
            width: 100%;
            display: flex;
            align-items: center;
            padding-left: 20px;
            color: white;
            font-size: 24px;
            font-weight: bold;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            position: fixed;
            top: 0;
            z-index: 1000;
        }

        /* Выезжающее меню */
        .sidebar {
            height: 100%;
            width: 250px;
            position: fixed;
            top: 0;
            left: -250px;
            background-color: #343a40;
            color: white;
            transition: left 0.3s;
            padding-top: 60px;
            z-index: 900;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
        }

        .sidebar a {
            padding: 15px 25px;
            text-decoration: none;
            font-size: 18px;
            color: white;
            display: block;
            transition: background 0.3s, color 0.3s;
            border-radius: 5px;
            margin: 5px;
        }

        .sidebar a:hover {
            background: #457b9d;
            color: #f4f4f9;
        }

        /* Иконка меню */
        .menu-icon {
            font-size: 30px;
            margin-right: 20px;
            cursor: pointer;
        }

        /* Контейнер для основного контента */
        .main-content {
            padding: 80px 20px;
            text-align: center;
            flex: 1;
        }
        .main-content-profile {
            padding: 80px 20px; /* Отступ сверху для заголовка */
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }

        .main-content-login {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 80px 20px;
        }
        /* Заголовок главной страницы */
        .main-title {
            font-size: 36px;
            margin-bottom: 10px;
            color: #333;
        }

        /* Описание на главной странице */
        .main-description {
            font-size: 18px;
            margin-bottom: 40px;
            color: #666;
        }
        .group-info {
            text-align: center;
            margin: 20px 0;
         font-size: 18px;
            font-weight: bold;
        }
        .lesson-card {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            margin: 20px auto;
            padding: 20px;
            width: 80%;
            text-align: left;
        }
        .lesson-title {
            font-size: 28px;
            margin-bottom: 15px;
            color: #333;
            padding-bottom: 12px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 15px;
        }

        th, td {
            padding: 12px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            color: white;
        }

        /* Линия разделения */
        hr {
            margin: 20px 0;
            border: 1px solid #ccc;
        }

        .suggestion-title {
            font-size: 24px;
            margin: 20px 0;
            color: #333;
        }

        .suggestion-item {
            margin: 10px 0;
            background-color: #e9ecef;
            border-radius: 8px;
            padding: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            transition: background 0.3s;
        }
        .suggestion-item:hover {
            background-color: #d4edda;
        }

        .main-button {
            background-color: #90be6d;
            color: white;
            padding: 15px 30px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;
            transition: background 0.3s;
        }

        .main-button:hover {
            background-color: #1d3557;
        }

        /* Блок с ссылками */
        .link-block {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 40px 0;
            gap: 20px;
        }

        .link-card {
            background-color: #ffffff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            width: 250px;
            transition: transform 0.3s;
            text-align: center;
        }

        .link-card:hover {
            transform: translateY(-5px);
        }

        /* Заголовок карточки */
        .link-card h2 {
            font-size: 20px;
            margin: 10px 0;
            color: #333;
        }

        /* Описание карточки */
        .link-card p {
            color: #666;
            font-size: 14px;
        }

        /* Стили для ссылок в карточках */
        .link-card a {
            text-decoration: none;
            color: #333;
            transition: color 0.3s;
        }

        .link-card a:hover {
            color: #1d3557;
        }

        .login-container {
            width: 100%;
            max-width: 400px;
            background-color: #ffffff;
            border-radius: 20px; /* Круглые углы */
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
            padding: 40px; /* Увеличен внутренний отступ */
            text-align: center;
            position: relative;
            overflow: hidden;
        }

        .login-container h1 {
            font-size: 28px;
            margin-bottom: 20px;
            color: #333;
        }

        .input-group {
            margin-bottom: 20px;
            text-align: left;
        }

        .input-group label {
            margin-bottom: 5px;
            font-weight: bold;
            color: #555;
        }

        .input-group input {
            width: 91%;
            padding: 15px;
            border: 2px solid #ccc;
            border-radius: 10px; /* Круглые углы для инпутов */
            transition: border-color 0.3s, box-shadow 0.3s;
        }

        .input-group input:focus {
            border-color: #90be6d;
            box-shadow: 0 0 5px rgba(144, 190, 109, 0.5);
            outline: none;
        }

        .login-button {
            width: 100%;
            background-color: #90be6d;
            color: white;
            padding: 15px;
            border: none;
            border-radius: 10px; /* Круглые углы для кнопки */
            cursor: pointer;
            font-size: 18px;
            transition: background 0.3s, transform 0.2s;
            font-weight: bold;
        }

        .login-button:hover {
            background-color: #1d3557;
            transform: translateY(-2px);
        }

        .signup-prompt {
            margin-top: 20px;
            font-size: 14px;
            color: #555;
        }

        .signup-link {
            color: #90be6d;
            text-decoration: none;
            font-weight: bold;
        }

        /* Стиль для профиля */
        .profile-container {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 800px; /* Ширина контейнера профиля */
            display: flex;
            flex-direction: column;
        }

        /* Стиль для блока с информацией о пользователе */
        .user-info {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        /* Стиль для фотографии профиля */
        .profile-pic {
            width: 160px;
            height: 160px;
            border-radius: 10px;
            margin-right: 40px;
            background-color: #ddd; /* Цвет фона для пустого места */
        }

        /* Стиль для текстовой информации */
        .user-details {
            flex: 1;
        }

         .status-container {
            display: inline-block; /* Позволяет элементу быть блочным с отступами */
            padding: 2px 6px; /* Внутренние отступы для минималистичного вида */
            border-radius: 12px; /* Скругление углов */
            margin-left: 10px; /* Отступ слева */
            font-size: 14px; /* Размер шрифта */
            font-weight: bold; /* Жирный шрифт */
        }

        .status {
            color: #457b9d; /* Цвет текста статуса */
            margin: 0; /* Убираем отступы */
        }

        .on-lesson {
            background-color: #e6ffed; /* Лёгкий зеленый фон при наличии занятия */
            color: #28a745; /* Цвет текста при наличии занятия */
        }

        .status:not(.on-lesson) {
            background-color: #f8d7da; /* Светло-красный фон, если занятий нет */
            color: #dc3545; /* Цвет текста, если занятий нет */
        }
        color: #28a745; /* Цвет текста при наличии занятия */
        }

        .lesson-card {
            background-color: #f8f9fa; /* Цвет фона карточки */
            border: 1px solid #ced4da; /* Цвет границы */
            border-radius: 10px; /* Скругление углов */
            padding: 15px; /* Внутренний отступ */
            margin: 20px 0; /* Отступ сверху и снизу */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для эффекта */
        }


        /* Контейнер для карточек дисциплин */
        .subject-cards-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 20px;
        }

        /* Стили для ссылок-карточек */
        .subject-card {
            background-color: #f0f0f5;
            border-radius: 10px;
            padding: 20px;
            width: 250px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
            text-decoration: none; /* Убираем подчеркивание */
            color: inherit; /* Сохраняем цвет текста */
            display: block;
            cursor: pointer; /* Изменяем курсор при наведении */
        }

        /* Заголовок дисциплины */
        .subject-title {
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }

        /* Эффект при наведении */
        .subject-card:hover {
            transform: translateY(-5px);
            background-color: #a8d0e6; /* Меняем цвет фона при наведении */
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
        }

        /* Добавляем плавную анимацию при наведении */
        .subject-card:active {
            transform: scale(0.98); /* Легкое сжатие при клике */
            background-color: #d0ffd0; /* Немного более светлый фон при клике */
        }


        .group-number {
            background-color: #90be6d;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            display: inline-block;
            font-size: 16px;
            margin-top: 5px;
        }
        .position-title {
            background-color: #457b9d;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            display: inline-block;
            font-size: 16px;
            margin-top: 5px;
        }
        /* Остальные данные профиля */
        .profile-data {
            margin-top: 20px;
            font-size: 16px;
            color: #333;
        }

.social-links {
    display: flex; /* Используем флекс-контейнер */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    margin-top: 10px; /* Отступ сверху, если необходимо */
}

.social-button {
    background-color: #90be6d; /* Цвет кнопок */
    color: white; /* Цвет текста для кнопок */
    padding: 10px 15px; /* Внутренние отступы для кнопок */
    border-radius: 5px; /* Скругление углов */
    display: inline-block; /* Позволяет кнопкам занимать только необходимое пространство */
    font-size: 16px; /* Размер текста */
    margin: 0 5px; /* Горизонтальные отступы между кнопками */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Плавные переходы */
    cursor: pointer; /* Указатель курсора при наведении */
}

.social-button a {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Наследуем цвет текста от кнопки */
}

.social-button:hover {
    background-color: #457b9d; /* Цвет фона при наведении */
    transform: scale(1.05); /* Увеличение кнопки при наведении */
}


              /* Пагинатор */
        .pagination {
            background-color: white;
            border-radius: 12px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 15px; /* Увеличенные отступы */
            margin: 70px auto 20px auto; /* Центрирование и отступы */
            display: flex;
            justify-content: center; /* Центрирование содержимого */
            align-items: center;
            gap: 15px; /* Отступы между кнопками */
            width: fit-content; /* Уменьшение ширины блока */
        }
        .pagination button {
            padding: 10px 15px; /* Увеличенные отступы */
            font-size: 14px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: #90be6d; /* Зелёный цвет кнопок */
            color: white;
            transition: background 0.3s;
        }
        .pagination button:hover {
            background-color: #1d3557; /* Цвет при наведении */
        }
        .current-week {
            font-size: 18px;
            padding: 10px 15px; /* Увеличенные отступы */
            background-color: #f1f1f1;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        /* Карточки расписания */
        .schedule-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            margin: 0 20px 20px 20px; /* Убрали верхний отступ, чтобы он не накладывался на селектор */
        }

        .schedule-card {
            background-color: white;
            border-radius: 12px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            height: 300px; /* Увеличена высота карточек */
            padding: 0;
            position: relative;
            transition: box-shadow 0.3s, transform 0.3s; /* Плавный переход для тени и трансформации */
        }

        .schedule-card:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Увеличение тени при наведении */
            transform: translateY(-5px); /* Подъем карточки при наведении */
        }

        /* Заголовки карточек */
        .card-header {
            border-radius: 12px 12px 0 0;
            padding: 15px;
            color: white;
            font-size: 18px;
            text-align: center;
        }

        .monday { background-color: #8cbfba      ; }
        .tuesday { background-color: #8aacc8      ; }
        .wednesday { background-color: #d4c56e       ; }
        .thursday { background-color: #d89e9f    ; }
        .friday { background-color: #c2a49c     ; }
        .saturday { background-color: #a49bd8   ; }

        /* Тело карточки */
        .card-body {
            padding: 15px;
            font-size: 16px;
            color: #333;
            flex-grow: 1;
        }
        .lesson {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd;
            align-items: center; /* Выравнивание по центру */
        }

        .lesson:last-child {
            border-bottom: none;
        }


        /* Подвал карточки */
        .card-footer {
            background-color: #f1f1f1;
            border-radius: 0 0 12px 12px;
            padding: 10px;
            font-size: 14px;
            color: #6c757d;
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

        /* Время занятия */
        .lesson-time {
            font-weight: bold;
            margin-right: 10px; /* Отступ между временем и типом занятия */
            text-align: right; /* Выравнивание по правому краю */
            width: 100px; /* Фиксированная ширина для времени */
        }

        /* Тип занятия */
        .lesson-type {
            font-style: italic;
            font-weight: normal;
            margin: 0 10px; /* Отступ между типом и названием занятия */
            text-align: center; /* Центрирование типа занятия */
            width: 40px; /* Фиксированная ширина для типа занятия */
            color: #6c757d; /* Цвет для типов занятий */
        }

        .lesson-name {
            flex-grow: 1;
            text-decoration: none;
            color: #6c757d; /* Серый цвет для названий занятий */
            transition: color 0.3s;
            font-weight: bold; /* Жирный шрифт для названий занятий */
            text-align: left; /* Выравнивание по левому краю */
        }

        .lesson-name:hover {
            color: #457b9d; /* Цвет при наведении */
        }


        .teacher-link {
            color: #457b9d; /* Цвет текста в ссылке, подходящий под основной стиль */
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s ease;
        }

        .teacher-link:hover {
            color: #a8d0e6; /* Цвет при наведении — можно выбрать из предложенных ранее цветов */
            text-decoration: underline; /* Добавляет подчеркивание при наведении */
        }

        /* Футер */
        .footer {
            background-color: #2c2c2c;
            color: white;
            text-align: center;
            padding: 15px 0;
            width: 100%;
            box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
            position: relative;
            margin-top: auto;
        }
